
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --cyan-op: hsla(178, 100%, 50%, 0.288);
    --very-drk-blue-main: hsl(217, 54%, 11%);
    --very-drk-blue-card: hsl(216, 50%, 16%);
    --very-drk-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: var(--white);
    font-family: 'Outfit', sans-serif;
    background-color: var(--very-drk-blue-main);
}

.card {
    position: relative;
    /* width: 280px; */
    /* outline: 2px solid blue; */
    max-width: 21rem;
    max-height: 100vh;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    margin-inline: auto;
    background-color: var(--very-drk-blue-card);
    box-shadow: 0rem 1.5625rem 3.125rem rgba(0, 0, 0, 0.0952917);
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
}

.image-container{
    width: 100%;
    height: 50vh;
    max-height: 302px;
    background: url('images/image-equilibrium.jpg');
    background-position: center;
    background-position: fixed;
}

h1:hover {
    color: var(--cyan);
    cursor: pointer;
}

/* .content {
    align-items: normal;
} */

/* img {
    width: 90%;
    margin-inline: auto;
} */


/* 1st attemt to create image overlay */

/* .img-cont {
    position: relative;
} */

/* .overlay {
    position: absolute;
    transition: all 0.3s ease;
    opacity: 0;
    background-color: #9bcd9b;
}

.img-cont:hover .overlay {
    opacity: 1;
}
  
.overlayFade {
    height: 250px;
    width: 250px;
    top: 0;
    left: 75px;
    background-color: #9bcd9b;
} */

/* 1st attemt ended */

.img1 {
    /* transform: scale(.3); */
    width: 100%;
    height: 50vh;
    /* height: 15%; */
    /* margin-inline: auto; */
    /* margin-top: 2px; */
    /* outline: 1px solid black; */
    display: block;
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}

.img1::before {
    position: absolute;
    content: url('/Frontend-Mentor/nft-preview-card-component-main/images/icon-view.svg');
    background-color: var(--cyan);
    height: 100%;
    width: 100%;
    top: 0;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .5s;
}

.img1:focus::before,
.img1:hover::before {
    opacity: 1;
    background-color: var(--cyan-op);
}

.cyan {
    color: var(--cyan);
    font-weight: 600;
}

.fade {
    color: var(--soft-blue);
    font-weight: 300;
}

.fade1 {
    color: var(--soft-blue);
    font-weight: 400;
}

.fade2 {
    color: var(--soft-blue);
    font-weight: 300;
}

.img2 {
    /* transform: scale(.6); */
    /* border: 2px solid black; */
    border-radius: 100%;
    height: 3em;
    outline: 2px solid var(--white);
}

.numerals {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    /* outline: 1px solid red; */
    border-bottom: 1px solid var(--very-drk-blue-line);
}

.numerals > div {
    /* outline: 1px solid blue; */
    display: flex;
}

.numerals > div > span {
    /* outline: 1px solid blue; */
    /* display: flex; */
    margin-left: 0.4em;
}

/* .numerals > div > img {
    outline: 1px solid blue; */
    /* width: .8em;
} */

.creator {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    justify-content: center;    
    /* outline: 2px solid blue; */
}

/* .creator > div {
    outline: 1px solid red;
} */

.creator > div:last-of-type {
    /* outline: 1px solid yellow; */
    /* margin-left: 1em;  */
    align-self: start;
    margin: auto 1em;
    /* align-content: flex-start; */
}

.creator > div:last-of-type > span:last-of-type:hover {
        color: var(--cyan);
        cursor: pointer;
}

.attribution {
    font-size: 14px; 
    color: white;
    text-align: center;
    /* border: 1px solid red; */
    margin-top: 3rem;
}
.attribution a {
    color: var(--cyan);
    text-decoration: none;
}


